body {
    background-image: url(https://www.spacex.com/static/images/backgrounds-2021/HP_SN11_Vertical_20210311_IMG_01221.webp) ;
    background-size: 100%;
    background-repeat: no-repeat;
}

.logoShop {
    position: relative;
    display: flex;
    justify-content:flex-start;
    
    
    
}

.bottom {
    float: left;
    height: 100px;
    width: 76%;
    /* background-color: rgb(255, 208, 0); */
    margin-left: 3%;
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
    height: auto;
    width: 210px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.links {
    position: relative;
    height: 25%;
    width: 100%;
    /* background-color:mediumseagreen; */
    margin-left: -10px;
    display: flex;
    align-items: center;
    font-size: 10px;
    
    
    
}
.shop {
    position: relative;
    height: 100px;
    width: 100px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    float: right;
    left: -30px;
    

}

 .mainLinks > ul {
     width: 126%;
     display: flex;
     justify-content: space-around;
     list-style: none;
     color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13.6px;
     
    }
    


 .shop > ul {
     width: 120%;
     display: flex;
     justify-content: space-around;
     list-style: none;
     color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13.6px;

    margin-left: -60%;
        
 }

 
#burger {
    font-size: 20px;
}

